files:
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/01-app-logs.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/nodejs/nodejs.log
      /var/app/current/logs/*.log

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: true
    RetentionInDays: 3 